@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  position: absolute; /* Position the logo absolutely within the header */
  top: 0; /* Position at the top of the header */
  left: 0; /* Position at the left of the header */
  padding: 16px; /* Optional padding around the logo */
}
  
  
.copyright{
   /* buttom left */
  position: absolute;
  bottom: 0;
  left: 0; 
  color: rgb(114, 114, 114);
  padding: 8px;
  font-size: 13px;
}

/* Optional styling for the logo image */
.logo img {
  max-height: 70px; /* Set a maximum height for the logo */
   
}

/* Define a custom color class */
.bg-custom-orange {
  background-color: #FAF1E3;
}

/* Apply the custom color class to the body element */
body {
  @apply bg-custom-orange;
}
